.col1, .col2 {
  width:100%;
  flex:25%;
  max-width:25%;
  padding: 0 4px;
  
}
.col1 img{
	margin-top: 8px;
	vertical-align: middle;
}


	



@media screen and (max-width:740px){
  .col1, .col2{
    float:none;
    width:50%;
	display:flex;
	flex:50%;
	max-width: 50%
  }
}
@media screen and (max-width:380px){
  .col1, .col2{
	display:flex;
	flex: 100%;
	max-width: 100%;
    float:none;
    width:100%;
  }
}


